// BASE //

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: $color-orange;
  font-family: 'Helvetica Neu', Helvetica, sans-serif;
  font-size: 1rem;
  color: $color-black;
  box-sizing: border-box;
}