// NAME //

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  .name {
    height: 45rem;
    margin-top: 5.5rem;
  }
}

// PARAGRAPHS //

.paragraph-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .paragraph {
    width: 40rem;
    margin: 5.5rem 6rem 0;
  }
}

// ICONS //

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  padding-bottom: 2rem;

  img {
    height: 2.5rem;
    padding: 0 1rem;
  }
}

// MEDIA QUERIES //

@media (min-width: 1340px) and (max-width: 1600px) {
  .paragraph-row {
    .paragraph {
      width: 52rem;
    }
  }
}

@media (max-width: 1340px) {
  .paragraph-row {
    .paragraph {
      width: 40rem;
    }
  }
}

@media (max-width: 1250px) {
  .header {
    .name {
      height: 40rem;
    }
  }
}

@media (max-width: 1039px) {
  .header {
    .name {
      height: 35rem;
    }
  }

  .paragraph-row {
    .paragraph {
      width: 50rem;
    }
  }
}

@media (max-width: 900px) {
  .header {
    .name {
      height: 30rem;
    }
  }
}

@media (max-width: 720px) {
  .header {
    .name {
      height: 20rem;
    }
  }

  .paragraph-row {
    .paragraph {
      width: 35rem;
    }
  }
}

@media (max-width: 500px) {
  .header {
    .name {
      height: 15rem;
    }
  }
}

@media (max-width: 320px) {
  .header {
    .name {
      height: 13rem;
    }
  }
}
