// NAME //

.header {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  .name {
    height: 80%;
  }
}


// PARAGRAPHS //

.paragraph-row {
  height: 30%;
  display: flex;

  .paragraph {
    height: 100%;
    width: 100%;
    padding: 0 10rem;
  }
}


// ICONS //

.footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 2.5rem;
    padding: 0 1rem;
  }
}