// PARAGRAPH STYLES //

.paragraph {
  text-decoration: underline;
  
  &__number {
    font-size: 6rem;
    font-weight: 600;
    transform: translateX(-2rem);
  }
  
  &__text {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}


// MEDIA QUERIES //

@media (max-width: 1039px) {
  .paragraph {
    text-align: center;

    &__number {
      margin-bottom: .5rem;
      transform: translateX(0);
    }
  }
}

@media (max-width: 720px) {
  .paragraph {

    &__number {
      font-size: 4.5rem;
    }

    &__text {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 500px) {
  .paragraph {

    &__text {
      font-size: 1.8rem;
    }
  }
}
