// LINK STYLES //

#choose-color {
  text-align: center;
  text-decoration: none;
  color: $color-black;
  font-size: 1.4rem;
  font-weight: 500;
}

// PARAGRAPH STYLES //

.paragraph {
  text-align: center;

  &__number {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    
    @include respond(tab-land) {
      line-height: 1.17;
    }
  }
}

span {
  background-color: $color-white;
}
