// LINK //

#choose-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

// NAME //

.header {
  display: flex;
  justify-content: center;

  &__name {
    height: 45rem;
    margin-top: 6rem;

    @include respond(tab-port) {
      height: 36rem;
    }
    
    @include respond(phone) {
      height: 27rem;
    }
    
    @media (max-width: 380px) {
      height: 23rem;
    }
  }

}

// PARAGRAPHS //

.paragraph-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .paragraph {
    width: 40rem;
    margin: 7.5rem 6rem 0;
  }
}

// FOOTER ICONS //

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  padding-bottom: 2rem;

  .icons-box {
    background-color: $color-white;
    padding: 0.3rem 0;
  }

  img {
    height: 2rem;
    padding: 0 1rem;
  }
}
